/* h1 {
    color: red;
} */
.st-emotion-cache-1clstc5 {
    width: 22%;
    background: white;
    position: fixed;
    top: 80px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
    right: 1%;
    height:85%;

}